td {
    white-space: pre
}

.card-body {
    flex:1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-color: rgb(0 0 0 / 20%);
    box-shadow: 0 .3 rem rgba( 0,0,0, .12 );
    border: 0 solid transparent;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
}