<header>
  <div class="topbar d-flex align-items-center ">
    <nav class="navbar navbar-expand">
      <div class="topbar-logo-header">
        <div>
          <img src="assets/images/logo-icon11.png" class="logo-icon" alt="logo icon">
        </div>
      </div>
      <div class="search-bar flex-grow-1">
        <div class="position-relative search-bar-box">
        </div>
      </div>
      <div class="search-bar flex-grow-1">
        <div class="position-relative search-bar-box">
        </div>
      </div>

      <div class="user-box dropdown">
        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/images/icons/user.png" class="user-img" alt="user avatar">
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" style="cursor:pointer;" (click)="profile()"><i class='bx bx-user'></i>
            <span>Profile</span></a></li>
          <li><a class="dropdown-item" style="cursor: pointer;" (click)="logout()"><i
            class='bx bx-log-out-circle'></i><span>Logout</span></a>

          </li>
        </ul>
      </div>
    </nav>
  </div>

</header>








